body
{
background: url(./bg.jpg);
}
.header
{
display: flex;
font-family: Brush Script MT, Brush Script Std, cursive;
right: 0;
top: 0;
align-items: center;
flex-direction: column;
border-bottom: 10px solid #ADCBCD;
background-color: black;
position: fixed;
width: 100%;
}
a
{
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
}
a:hover{
color: #ADCBCD;
}
.horizontal-list
{
  display: flex;
  flex-flow: row;
  list-style-type: none;
  justify-content: space-between;
}
p
{
  margin: 10px;
  color: white;
  list-style-type:none;
}
p:hover{
  color: #F8F5DA;
  transition: 0.3s;
}
h2:hover{
  color: #F8F5DA;
  transition: 0.2s;
}
.section2{
 text-align: center;
  background-color:#ADCBCD;
  margin-top:150px;
  margin-left: 30%;
  width: 90%;
  min-height: 540px;
  max-width: 65%;
}
.section1{
  text-align: center;
  background-color:#ADCBCD;
  margin-top:150px;
  width: 90%;
  min-height: 540px;
  margin-left: 10%;
}
.center
{
display: flex;
justify-content: center;
}
